@import "../css/reset.css";

/* Variables */
@import "../css/variables.css";
/* Components */
@import "../css/components/status-bar.css";
@import "../css/components/nav-bar.css";
@import "../css/components/screen-header.css";
@import "../css/components/user-component.css";

/* Screens */
@import "../css/screens/login.css";
@import "../css/screens/friends.css";
@import "../css/screens/chats.css";
@import "../css/screens/find.css";
@import "../css/screens/more.css";

* {
    box-sizing: border-box!important;
}
a {
    text-decoration: none;
}

body {
    width: 100%;
    height: 1000vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x:hidden;
}
.z900 {
    z-index: 900;
}

.section__padding {
    padding: 1rem 2rem;
}



