/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800;900&family=Nunito:ital,wght@wght@200;400;500;600;700;800;900&display=swap');

/* Reset */
@import "../css/reset.css";

/* Variables */
@import "../css/variables.css";
/* Components */
@import "../css/components/status-bar.css";
@import "../css/components/nav-bar.css";
@import "../css/components/main-header.css";
@import "../css/components/user-component.css";
@import "../css/components/sub-header.css";

/* Screens */
@import "../css/screens/login.css";
@import "../css/screens/friends.css";
@import "../css/screens/chats.css";
@import "../css/screens/find.css";
@import "../css/screens/more.css";
@import "../css/screens/settings.css";

* {
    box-sizing: border-box!important;
    scroll-behavior: smooth;
}
li:hover {
    cursor: pointer;
}
body {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: var(--nunito);
    /* hide scroll bar  */
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 

 
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.z900 {
    z-index: 900;
}
.z800 {
    z-index: 800;
}




