/* --- Find Screen --- */
.find-main-container {
    margin-top: 9rem;
    padding-bottom: 6rem;
}
.find-icons {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-top: 1rem;
    padding-bottom: 2rem;
}

.find-icons__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.find-icons__icon i {
    margin-bottom: 1.2rem;
}
.recommended-friends-header__title,
.open-chat-header__title {
    color: rgb(124, 120, 120);
}

.open-chat__chat {
    display: grid;
    grid-template-columns: 4fr auto;
    width: 100%;
    align-items: center;

}

.open-chat__chat__text {
    grid-column: 1/2;
    line-height: 2rem;
}

.open-chat__chat__avatar {
    grid-column: 2/3;
    margin-right: 0;
    margin-left: auto;
}

.fern-profile {
    background-image: url("../../images/profile/fern-profile.jpeg");
    background-position: center;
    background-size: cover;
    margin-right: 1.5rem;
}
.magicman-profile {
    background-image: url("../../images/profile/magicman-profile.jpeg");
    background-position: center;
    background-size: cover;
    margin-right: 1.5rem;
}
.slime-princess-profile {
    background-image: url("../../images/profile/slime-princess-profile.jpeg");
    background-position: center;
    background-size: cover;
    margin-right: 1.5rem;
}

.candy-kingdom-cover {
    background-image: url("../../images/candy-kingsom-cover.jpeg");
    background-position: center;
    background-size: cover;
}

.iceking-and-gunter {
    background-image: url("../../images/iceking-and-gunter.jpeg");
    background-position: center;
    background-size: cover;
}
.marceline-band-cover {
    background-image: url("../../images/marceline-band-cover.jpeg");
    background-position: center;
    background-size: cover;
}
.open-chat {
    padding-bottom: 6rem;
}