.friends-main-container {
    position: relative;
}
.friends-screen__channel {
    width: 100%;


}

.friends-screen__channel-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}