/* Login Screen */

.login-screen {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

}
.login-screen__header {
    padding-top: 5.2em;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-screen__header__title {
    font-size: 2.2rem;
    margin-bottom: 1.2em;
}

.login-screen__header__text {
    width: 60%;
    font-size: 1.25rem;
    margin-bottom: 5em;
    color:rgb(125, 123, 123);
}

.login-screen__login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: all 0.3s;
}
.login-screen__login-form input:not([type="button"]) {
    border: none;

    width: 90%;
    height: 4rem;


    border-bottom: solid rgba(209, 209, 209, 0.673) 1px;
    font-size: 1.5rem;
    transition: border-color 0.3s ease-in-out;

    margin-bottom: 0.8em;
}
.login-screen__login-form input:focus {
    border-color: blue; 
    /* need to be changed */
}

.login-screen__login-form input::placeholder {
    color: rgba(163, 161, 161, 0.625);
}

.login-screen__login-form__input--password {
    margin-bottom: 1.5em!important;
}

.login-screen__login-form input[type="submit"] {
    width: 90%;
    height: 4rem;
    margin-bottom: 0.6em;

    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    color: rgb(60, 60, 60);

    cursor: pointer;
}
.login-screen__login-form a {
    border: none;
    background: none;
    margin-top: 1em;
    font-size: 0.9rem;
    color: rgb(60, 60, 60);
    cursor: pointer;
}


