
.settings-bottom-container {
    padding-bottom: 6.5rem;
}

.settings-main-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}
.flex-row-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings-top-container {
    padding: 1rem 0;
    padding-top: 0.1rem;
}

.settings-list__setting {
    padding: 2rem 0;
 
}

.settings-list__setting a {
    display: flex;
    align-items: center;

}

/* Settings icon */
.settings-list__setting a i {
    margin-right: 1.5rem;
}
/* Settings icon title */
.settings-list__setting__text {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.settings-list__setting__badge {
    font-size: 1rem;
    width: 1.8rem;
    aspect-ratio: 1/1;
}
