.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3.8rem 2rem var(--section-padding);

    display: grid;
    /* 4 icons on the right */
    grid-template-columns: 1fr 1fr 1fr 1.7fr;
    align-items: center;
    background: var(--light-blue);
    font-family: var(--nunito);
    font-weight: 800;
    letter-spacing: 0.15rem;
    z-index: 90;
    color: rgb(8, 44, 72);
    
}
.main-header ul li a i {
    font-size: 1.5rem;
}
/* 3 icons on the right */
.main-header--narrow {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
/* Title on the left */
.main-header__title {
    grid-column: 1/2;
    font-size: 1.8rem;
    font-weight: 800;
}
/* Icons on the right */
.main-header__icons {
    grid-column: 4/5;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.main-header--narrow .main-header__icons li {
    position: relative;
}




