.main-header {
    width: 100%;
    padding: 3rem var(--section-padding);

    display: grid;
    /* 4 icons on the right */
    grid-template-columns: repeat(4, 1fr);

    /* justify-items: center; */
    align-items: center;
    background: rgba(154, 208, 246, 0.567);
}
/* 3 icons on the right */
.main-header--narrow {
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    padding: 4rem 2rem var(--section-padding);
}
/* Title on the left */
.main-header__title {
    grid-column: 1/2;
    font-size: 2rem;
    font-weight: 600;
}
/* Icons on the right */
.main-header__icons {
    grid-column: 4/5;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.main-header--narrow .main-header__icons li {
    position: relative;
}




